@import "../App";

canvas {
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
}

.three-image {
  @extend %page-container;
  z-index: 1;
}

%nav-link {
  font-family: "Clash-Extralight", serif;
  color: #f5efe1;
  font-size: 14px;
  position: absolute;
  letter-spacing: 1.5px;
  text-decoration: none;
  z-index: 2;
}

.home-container-dark {
  @extend %page-container;
  background-color: #1d1d1d;

  .eman-picture {
    background-image: url("../assets/eman.png");
    background-repeat: no-repeat;
    height: 60vh;
    width: 20vw;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    animation-name: eman;
    animation-duration: 2s;
  }

  @keyframes eman {
    from {
      width: 40vw;
    }
    to {
      width: 20vw;
    }
  }

  .work-nav {
    @extend %nav-link;
    left: 100px;
    top: 60px;
  }

  .about-nav {
    @extend %nav-link;
    right: 100px;
    top: 60px;
  }

  .contact-nav {
    @extend %nav-link;
    left: 100px;
    bottom: 60px;
  }

  .blog-nav {
    @extend %nav-link;
    right: 100px;
    bottom: 60px;
  }

  .header {
    font-family: "NeutralFace", serif;
    color: #f5efe1;
    font-size: 75px;
    position: absolute;
    z-index: 3;
    opacity: 0.8;
    letter-spacing: 15px;
    line-height: 100px;
    pointer-events: none;
  }
}

.home-container-light {
  @extend %page-container;
  background-color: #f5efe1;
}
