@font-face {
  font-family: "Coffekan";
  src: url("assets/CoffekanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "NeutralFace";
  src: url("assets/NeutralFace.otf") format("opentype");
}

@font-face {
  font-family: "Clash";
  src: url("assets/Clash.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%page-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
