@font-face {
  font-family: "Coffekan";
  src: url("assets/CoffekanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Kenoky";
  src: url("assets/KenokyLight.ttf") format("truetype");
}

@font-face {
  font-family: "Kioea";
  src: url("assets/Kioea.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
