@font-face {
  font-family: "Clash-Extralight";
  src: url("assets/ClashDisplay-Extralight.otf") format("opentype");
}

@font-face {
  font-family: "GroteskRegular";
  src: url("assets/GroteskRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PanchangMedium";
  src: url("assets/Panchang-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "PanchangRegular";
  src: url("assets/Panchang-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

%page-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three-grain-filter {
  @extend %page-container;
  pointer-events: none;
  opacity: 0.5;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.loading {
  @extend %page-container;
  z-index: 4;
  top: 0vh;
  transition: 2000ms;
  transition-timing-function: cubic-bezier(0.63, 0.12, 0, 1.2);
  background-color: #eaeaea;

  .loading-header {
    position: absolute;
    z-index: 5;
    font-family: "GroteskRegular", serif;
    letter-spacing: 2px;
    font-size: 20px;
    top: 10vh;
  }

  .loading-header-two {
    position: absolute;
    z-index: 5;
    font-family: "GroteskRegular", serif;
    letter-spacing: 2px;
    font-size: 20px;
    top: 90vh;
  }

  .percent {
    position: absolute;
    z-index: 5;
    font-family: "Clash-Extralight", serif;
    font-size: 75px;
    letter-spacing: 7px;
  }
}

.false {
  @extend %page-container;
  top: -100vh;
  transition: 2000ms;
  transition-timing-function: cubic-bezier(0.63, 0.12, 0, 1.2);
}
